body {
  background-image: url("../media/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.content {
  padding: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  flex: none;
  width: 65%;
}
.is-right {
  float: right;
}
img {
  float: right;
  padding-left: 10px;
}
label {
  width: 400px;
  padding-bottom: 5px;
}
.control {
  margin-bottom: 0.5rem !important;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {
  flex: 1;
}
footer {
  background-color: white !important;
  padding: 50px !important;
}
.tagcontainer {
  width: 150px;
}
.tag-download {
  width: 30px;
}
.tag-version {
  width: 45px;
}
.tile {
  margin: 30px;
}

@media (max-width: 1300px) { 
  body {
    background-image: none !important;
  }
  .content {
    background-color: azure;
    width: 100%; 
  }
}