body {
  background-image: url("../media/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.content {
  padding: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.is-right {
  float: right;
}
img {
  float: right;
  padding-left: 10px;
}
label {
  width: 350px;
  padding-bottom: 5px;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {
  flex: 1;
}
footer {
  background-color: white !important;
  padding: 50px !important;
}

@media (max-width: 960px) { 
  body {
    background-image: none !important;
  }
  .content {
    background-color: azure;
  }
}