{% extends "base.html" %}

{% block content %}
<div class="tabs is-centered">
  <ul>
    <li>
      <a href="/">
        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
        <span>Presets</span>
      </a>
    </li>
    <li class="is-active">
      <a href="custom">
        <span class="icon is-small"><i class="fas fa-wrench" aria-hidden="true"></i></span>
        <span>Custom</span>
      </a>
    </li>
  </ul>
</div>
<div class="columns is-desktop">
<div class="column">
  <form id="form" action="/create-jar/" method="get">
      <h3>Select Gamemodes</h3>
      <span>Gamemodes bring in original games to your server.</span>
      <label class="column is-one-third radio">
        {% for item in addons[:4] %}
          <label onmouseover="showDescription(this)" data-title="{{ item.name | title}}" data-desc="{% include 'descriptions/' + item.artifactId + '.desc' ignore missing %}" class="checkbox">
            <input class="gamemode" onclick="selectedGameMode()" type="checkbox" name="{{ item.artifactId }}:{{ item.version }}">
            {{ item.name | title}}
            <div class="control is-right">
              <div class="tags has-addons">
                <span class="tag">Release</span>
                  <a class="tag is-success" href="#colors">{{ item.version }}</a>
              </div>
            </div>
          </label>
          <br>
        {% endfor %}
      </label>
      <h3>Select Addons</h3>
      <span>Addons enhance the player's experience and make your server unique by adding new features.</span>
      <div class="addons column is-one-third">
        {% for item in addons[4:] %}
          <label onmouseover="showDescription(this)" data-title="{{ item.name | title}}" data-desc="{% include 'descriptions/' + item.artifactId + '.desc' ignore missing %}" class="checkbox">
            <input name="{{ item.artifactId }}:{{ item.version }}" type="checkbox">
            {{ item.name | title}}
            <div class="control is-right">
              <div class="tags has-addons">
                <span class="tag">Release</span>
                  <a class="tag is-success" href="#colors">{{ item.version }}</a>
              </div>
            </div>
          </label>
          <br>
        {% endfor %}
        <br>
      </div>
      <div class="control">
        <button id="submit-button" onclick="playLoadingAnimation()" class="button is-link is-left" disabled>Download</button>
      </div>
    </form>
  </div>
  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p id="textboxTitle">Start crafting your BentoBox!</p>
      </div>
      <div class="message-body" id="textbox">
        BentoBox is a plugin that does nothing on its own, but once you add Gamemodes and Addons to it, it becomes an incredible playground for your players, with countless possible combinations that will allow you to highly customize your server.
        <br>
        <br>
        Crafting your own BentoBox is the first step to join a world of never-ending possibilities of games and fun.
      </div>
    </article>
  </div>
</div>
</div>
{% endblock %}