{% extends "base.html" %}

{% block content %}
<div class="tabs is-centered">
  <ul>
    <li>
      <a href="/">
        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
        <span>Presets</span>
      </a>
    </li>
    <li class="is-active">
      <a href="custom">
        <span class="icon is-small"><i class="fas fa-wrench" aria-hidden="true"></i></span>
        <span>Custom</span>
      </a>
    </li>
  </ul>
</div>
<div class="columns">
<div class="column">
  <form id="form" action="/create-jar/" method="get">
      <h3>Select Gamemodes</h3>
      <span>Gamemodes bring in original games to your server.</span>
      <label class="column is-one-third radio">
        {% for item in addons[:5] %}
        <label class="checkbox" onMouseOver="showDescription('{{ item.name }}')">
            <input class="gamemode" onclick="selectedModule()" type="checkbox" name="{{ item.artifactId }}:{{ item.version }}">
            {{ item.name }}
            <div class="tagcontainer is-right field is-grouped is-grouped-multiline">
                <div class="tags has-addons control is-expanded">
                  <span class="tag">v</span>
                  <span class="tag-version tag is-success">{{ item.version }}</span>
                </div>
                <div class="tags has-addons control">
                    <span class="tag icon"><i class="fas fa-download" aria-hidden="true"></i></span>
                    <span class="tag-download tag bd-mini-tag is-info">{{ item.downloads }}</span>
                </div>
              </div>
          </label>
          <br>
        {% endfor %}
      </label>
      <h3>Select Addons</h3>
      <span>Addons enhance the player's experience and make your server unique by adding new features.</span>
      <div class="addons column is-one-third">
        {% for item in addons[5:] %}
          <label class="checkbox" onMouseOver="showDescription('{{ item.name }}')">
            <input onclick="selectedModule()" name="{{ item.artifactId }}:{{ item.version }}" type="checkbox">
            {{ item.name }}
            <div class="tagcontainer is-right field is-grouped is-grouped-multiline">
              <div class="tags has-addons control is-expanded">
                <span class="tag">v</span>
                <span class="tag-version tag is-success">{{ item.version }}</span>
              </div>
              <div class="tags has-addons control">
                  <span class="tag icon"><i class="fas fa-download" aria-hidden="true"></i></span>
                  <span class="tag-download tag bd-mini-tag is-info">{{ item.downloads }}</span>
              </div>
            </div>
          </label>
          <br>
        {% endfor %}
        <br>
      </div>
      <div class="control">
        <button id="submit-button" onclick="playLoadingAnimation()" class="button is-link is-left" disabled>Download</button>
      </div>
    </form>
  </div>
  <div class="column">
    <article class="message is-info" id="description-container">
      <div class="message-header">
        <p id="textboxTitle">Start crafting your BentoBox!</p>
      </div>
      <div class="message-body">
          {% filter markdown %}{% include 'descriptions/start.md' ignore missing %}{% endfilter %}
      </div>
      {% for item in addons %}
      <div class="message-body" style="display: none" id="description-{{ item.name }}">
        {% filter markdown %}{% include 'descriptions/' + item.artifactId + '.md' ignore missing %}{% endfilter %}
      </div>
      {% endfor %}
    </article>
  </div>
</div>
</div>
{% endblock %}
