{% extends "base.html" %}

{% block content %}
<div class="tabs is-centered">
  <ul>
    <li class="is-active">
      <a href="">
        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
        <span>Presets</span>
      </a>
    </li>
    <li>
      <a href="custom">
        <span class="icon is-small"><i class="fas fa-wrench" aria-hidden="true"></i></span>
        <span>Custom</span>
      </a>
    </li>
  </ul>
</div>
<div class="columns is-desktop">
<div class="column">
  <h2>Click to download a preset!</h2>
  <p>The download will include a stock set of addons to get you started!</p>
  <div>
      <div class="tile is-ancestor">
          <a class="tile is-parent" href="/create-jar/?bskyblock:{{ addons.bskyblock }}&level:{{ addons.level }}&challenges:{{ addons.challenges }}&warps:{{ addons.warps }}&controlpanel:{{ addons.controlpanel }}&dimensionaltrees:{{ addons.dimensionaltrees }}&biomes:{{ addons.biomes }}&">
            <article class="tile is-child box notification is-info">
              <p class="title">Classic Skyblock</p>
              <p class="subtitle">Beware, do not fall!</p>
              <div class="content notification is-info"">
                <p>Includes the following addons:</p>
                <ul>
                <li>BSkyBlock</li>
                <li>Challenges</li>
                <li>Level</li>
                <li>Warps</li>
                <li>Control Panel</li>
                <li>Dimensional Trees</li>
                <li>Biomes</li>
                </ul>
              </div>
            </article>
          </a>
          <a class="tile is-parent" href="/create-jar/?acidisland:{{ addons.acidisland }}&level:{{ addons.level }}&challenges:{{ addons.challenges }}&warps:{{ addons.warps }}&controlpanel:{{ addons.controlpanel }}&dimensionaltrees:{{ addons.dimensionaltrees }}&biomes:{{ addons.biomes }}&">
            <article class="tile is-child box notification is-success">
              <p class="title">Classic AcidIsland</p>
              <p class="subtitle">Beware, water is acid!</p>
              <div class="content notification is-success">
                <p>Includes the following addons:</p>
                <ul>
                <li>AcidIsland</li>
                <li>Challenges</li>
                <li>Level</li>
                <li>Warps</li>
                <li>Control Panel</li>
                <li>Dimensional Trees</li>
                <li>Biomes</li>
                </ul>
              </div>
            </article>
          </a>    
        </div>
      </div>
  </div>
</div>
</div>
{% endblock %}
