<html>

  <head>
    <title>BentoBox</title>
    <meta content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body class="Site">
    <main class="Site-content">
    <div class="columns is-centered">
      <div class="content column is-half-desktop">
        <div class="columns is-desktop">
          <div class="column">
            <h1>BentoBox</h1>
            <form id="form" action="/create-jar/" method="get">
                <h3>Select Gamemodes</h3>
                <span>Gamemodes bring in original games to your server.</span>
                <label class="column is-one-third radio">
                  {% for item in addons[:2] %}
                    <label onmouseover="showDescription(this)" data-title="{{ item.name | title}}" data-desc="{% include 'descriptions/' + item.artifactId + '.desc' ignore missing %}" class="checkbox">
                      <input class="gamemode" onclick="selectedGameMode()" type="checkbox" name="{{ item.artifactId }}:{{ item.version }}">
                      {{ item.name | title}}
                      <img src="https://img.shields.io/badge/release-{{ item.version }}-blue.svg">
                    </label>
                    <br>
                  {% endfor %}
                </label>
                <h3>Select Addons</h3>
				        <span>Addons enhance the player's experience and make your server unique by adding new features.</span>
                <div class="addons column is-one-third">
                  {% for item in addons[2:] %}
                    <label onmouseover="showDescription(this)" data-title="{{ item.name | title}}" data-desc="{% include 'descriptions/' + item.artifactId + '.desc' ignore missing %}" class="checkbox">
                      <input name="{{ item.artifactId }}:{{ item.version }}" type="checkbox">
                      {{ item.name | title}}
                      <img src="https://img.shields.io/badge/release-{{ item.version }}-blue.svg">
                    </label>
                    <br>
                  {% endfor %}
                  <br>
                </div>
                <div class="control">
                  <button id="submit-button" onclick="playLoadingAnimation()" class="button is-link is-left" disabled>Download</button>
                  <a id="githubButton" href="https://github.com/BentoBoxWorld" class="button is-right">
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                    <span>GitHub</span>
                  </a>
                </div>
              </form>
            </div>
            <div class="column content">
              <h2 id="textboxTitle">Start crafting your BentoBox!</h2>
              <div id="textbox">
				BentoBox is a plugin that does nothing on its own, but once you add Gamemodes and Addons to it, it becomes an incredible playground for your players, with countless possible combinations that will allow you to highly customize your server.
				<br>
				<br>
				Crafting your own BentoBox is the first step to join a world of never-ending possibilities of games and fun.
			  </div>
            </div>
        </div>
      </div>
    </div>
    </main>
      
    <footer>
      <div class="has-text-centered">
        <p>
          <strong>BentoBox</strong> by <a href="https://github.com/tastybento">tastybento</a> and <a href="https://github.com/Poslovitch">Poslovitch</a>. The source code is licensed under the Eclipse Public License 2.0. Webtool made with by <a href="https://github.com/mastercake10">MasterCake</a>. Have a look at <a href="https://github.com/BentoBoxWorld/website">its source code</a>.
        </p>
      </div>
    </footer>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>